.backgound_first {
  background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_content {
  background-image: linear-gradient(
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 98px;
}
h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.middle_content_text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  padding-left: 97px;
  padding-right: 120px;
}
.middle_headings {
  padding: 0 150px;
}
.under_heafing {
  margin-top: 87px;
}
.backgound_first {
  padding-top: 270px;
}
.Readmore_button {
  background: #55c2d8;
  border-radius: 18px;
  margin-top: 26px;
  padding: 5px 17px;
  border: 0px;
  font-family: "Oswald Regular";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.bottom_content_heading {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 53px;
  margin-top: 84px;
}
.first_background_bottom {
  margin-bottom: 256px;
}
.play_button {
  padding: 47px 40px;
  background: #39c2d7;
  border-radius: 50%;
  border: 0px;
  color: #ffffff;
  font-size: 55px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play_button_text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 90px;
}
footer {
  background: #464547;
  padding: 21px 0px 38px 140px;
}
.project {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 16px;
}
.footer_text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
}
.bottom_logo_div {
  margin-bottom: 14px;
}
